* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.MoreSp_wrap {
  width: 100%;
  height: 400px;
  background: white;
  position: absolute;
  opacity: 0;
  left: 0;
  bottom: -400px;
  transform: translateY(-50%);
  transition: all 0.5s;
  display: none;
  box-shadow: 3px 3px 25px 5px gray;
  cursor: default;
}
.Sp__title{
    display:flex;
    gap:20px;
    font-size: 24px;
    font-weight: 500;
    color:gray;
    padding:10px;
    margin-left:50px;
}
.Sp__title p{
    border:1px solid black;
    pa
}
