* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.MoreSp_wrap {
  width: 100%;
  height: 400px;
  background: white;
  position: absolute;
  opacity: 0;
  left: 0;
  bottom: -400px;
  transform: translateY(-50%);
  transition: all 0.5s;
  display: none;
  box-shadow: 3px 3px 25px 5px gray;
  cursor: default;
}
.Sp__title{
    display:flex;
    gap:20px;
    font-size: 24px;
    font-weight: 500;
    color:gray;
   
    padding-left:50px;
    border-bottom: 2px solid rgb(224, 218, 218);
}
.Sp__title p{
    
    padding:10px 20px
}
.Sp__title p:hover{
    border-bottom: 3px solid  rgb(77, 161, 240);
    color: rgb(77, 161, 240);
    cursor: pointer;
}
