* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.MoreSp_wrap {
  width: 100%;
  height: 400px;
  background: white;
  position: absolute;
  opacity: 0;
  left: 0;
  bottom: -400px;
  transform: translateY(-50%);
  transition: all 0.5s;
  display: none;
  box
}
