@use '../../scss/' as *;
.card {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1px;
    padding: 0.5rem;
    border-radius:5px;
    max-width: 300px;
    box-shadow: 3px 5px 21px -4px #000;
   @include mobile {
       max-width: 100%;
   }

    &:hover {
        cursor: pointer;
    }
    &__img {
        min-height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        font-size: 20px;
        border-top: 1px solid $black;
        padding-top: 1rem;
        &__name {
            font-weight: bold;
        }
        &__price {
            font-size: 1.5rem;
            color: $blue;
        }
    }
}