.title {
  margin: 100px 50px 50px 50px;
  border-bottom: 2px solid rgb(204, 204, 204);

  p {
    font-weight: 600;
    font-size: 40px;
    color: black;
    padding-left: 10px;
  }
}
.address {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  gap:20px;
  margin-bottom: 40px;
  &_item {
    max-width: 400px;
  }
  &_title {
    font-weight: 700;
    margin-bottom: 30px;
    color: black;
    font-size: 18px;
  }
  &_des{
      font-size: 16px;
  }
}
.bold{
    font-weight: 600;
    color:black;
    margin-right: 30px;
}
.send{
    margin-left: 50px;
    &_title{
        font-weight: 700;
        color:black;
        font-size: 18px;
    }
}
.box{
    display:flex;
    flex-wrap:wrap;
    gap:20px;

}
.button_send{
    margin-top: 50px;
    border: 1px solid blue;
    outline:none;
    padding:20px 40px;
    color:aqua;
}