.Item_card {
  padding: 20px;
  background: rgb(32, 32, 32);
}
.Item {
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-type {
      p {
          color:#fff;
        font-weight: 700;
        font-size: 24px;
        margin-left: 10px;
      }
    }
    &-status{
        display: flex;
        
        align-items: center;
        div{
           display: flex;
          
           align-items: center;
            font-size: 1em;
            svg{
                font-size: 30px;
                margin-right: 10px;
            }
       
        }
       
    }
  }
  &_body {
    &-top{
        display:flex;
        gap:20px;
    }
     // align-items:center;
    &-img {
      width: 150px;
      height: 150px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    &-des{
        flex:2;
        color:#fff;
        font-size: 20px;
        p{
            margin: 0;
        }
    }
    &-price{
        flex:1;
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        p{
            font-size: 25px;
            color: #fff;
            margin:0;
            span{
                font-size: 15px;
                padding-right:20px;
            }
        }
    }
  }
  &_footer {
      color:#fff;   
      display: flex;
        align-items:flex-end;
      gap:20px;
      flex-direction: column;
      &-total{
          span{font-size: 25px;}
      } 
      &-btn{
          button{
              padding:10px 20px;
              border: none;
              border-radius: 5px;
              font-weight: 600;
              background: rgb(255, 145, 126);
              color
          }
      }
  }
}
.green{
    color:rgb(11, 216, 148);
    span{
        border-right: 2px solid gray;
        padding-right:10px
    }
}
.red{
    color: rgb(238, 128, 128);
    svg{
       
        margin-left:10px
    }
}