.History{
   min-height: 100vh;
   &-left{
       &-header{
           display: flex;
           .img{
                width: 60px;
                height: 60px;   
                border-radius: 100rem;
           }
       }
   }
}