@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500&family=Poppins:wght@500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    ffont-family: 'Mulish', sans-serif;
}
