.Home__wrapper{
    position: relative;
    z-index: 1;
}
.Home__video{
    top: 0;
    position: sticky;
    z-index: -1;
    background: #fff;
}
.Home__video video {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
}
.Home__wrapper > .v-light {
    margin-top: -72px
}
.v-light img {
    width: 100%;
}
img{
    height: auto;
}
.container-fluid{
width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}