.Home__wrapper {
  margin-top: 40px;
  position: relative;
  z-index: 1;
}
.Home__video {
  top: 0;
  position: sticky;
  z-index: -1;
  background: black;
}
.Home__video video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}
.Home__wrapper > .v-light {
  margin-top: -72px;
}
.v-light img {
  width: 100%;
}
.v-light {
  height: 47px;
}
img {
  height: auto;
}
.container-fluid {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.deposit {
  background: #1464f4;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  width: 273px;
  padding: 13px 0;
}
.block-new-home {
  background: #fff;
}
.cta-button {
  bottom: 100px;
  position: fixed;
  z-index: -1;
}

.more-information {
  border: 1px solid #f7f9f9;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 48px;
  width: 273px;
  padding: 13px 0;
}
.block-new-home-cntm {
  background: #fff;
  margin-top: 10px;
  padding: 96px 0 0;
}
.swiper {
  width: 100%;
}
.swiper_item-head {
  padding-top: 30px;
  width:100%;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  color: gray;
  background: #fff;
}
.swiper_item-name {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(78, 75, 75);
}
.swiper_item-body img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 80px;
}

.swiper_item-des {
  word-break: break-word;
  padding-bottom: 40px;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 21px;
}
.block-new-home-car {
  background: #fff;
  padding-top: 30px;
}

.down{
  height:50px;
  padding-bottom: 30px;
}

.block-newhome-videomiddle {
  position: sticky;
  z-index: -1;
  background: #fff;
  top: 84px;
  margin-top: -2px;
}
.absolute {
  position: absolute;
  top:-10px;

}
.block-newhome-videomiddle video {
  width: 100%;
  height: 99vh;
  -o-object-fit: cover;
  object-fit: cover;
}
.block-new-home-testimonial{
  position:relative;
}
.background__title{
  position:absolute;
  font-size: 30px;
  color:#fff;
  top:100px;
  left:100px;
  width: 50vw;
}
.slogan{
  font-size: 20px;
  color :gray;
  padding:100px 0px 
}
.block-new-home-testimonial img{
 width: 100%;
 object-fit: cover;
 -webkit-user-drag: none;
}
   
  @media (max-width: 991.98px) {
    .deposit {
      width: 151px;
    }
    .down{
      height:20px;
    }
    .more-information {
      width: 151px;
      border-color: #1464f4;
      color: #1464f4;
      margin-left: 24px;
    }
    .block-new-home-cntm {
      margin-top: -20px;
    }
    .swiper_item-name {
      font-size: 30px;
    }
    .swiper_item-des {
      font-size: 16px;
    }
    .cta-button {
      position: unset;
      margin-bottom: -100px;
      z-index: 1;
    }
  }