*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Card-wrapper{
    width: 300px;
    display:flex;
    flex-direction: column;
}
.Card_img img{
    object-fit: cover;
    width: 100%;
}