@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500&family=Poppins:wght@500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish'
}


.Card-wrapper{
    width: 330px;
    display:flex;
    flex-direction: column;
    gap:10px;
    color:rgb(95, 91, 91);
}
.Card-wrapper:hover .img-360{
    visibility: visi;
    opacity: 1;
}
.img-orgin{
    object-fit: cover;
    width: 100%;
}
.Card_name p{
    font-size: 50px;
    font-weight: 400;
}

.Card_name {
margin-bottom: 40px;
}
.Card_title p{
    font-size: 20px;
    margin-top: 10px;
}
.Card_title {
 
    margin-top: 10px;
}
.Card_des{
    display: flex;
    justify-content:space-between
}
.Card_des-type p{
    margin-bottom: 10px;
}
.Card_des-price p{
    margin-bottom: 10px;
}
.Card_des-price h4{
    font-size: 25px;
    font-weight: 400;
}
.Card_des-type h4{
    font-size: 25px;
    font-weight: 400;
}
.img-360{
    visibility: hidden;
    opacity: 0;
    position: absolute !important;
    left:0;
    object-fit: cover;
    width: 110%;
  
}