*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Card-wrapper{
    width: 300px;
    display:flex;
    flex-direction: column;
    gap:10px;
}
.Card_img img{
    object-fit: cover;
    width: 100%;
}
.Card_name p{
    font-size: 40px;
    font-weight: 400;
}