/* mac hide\*/
html, body {height:100%}
/* end hide */
body {
	padding:0;
	margin:0;
	text-align:center;
	min-width:760px;/* for mozilla*/
	background-color: #F2E3EE;
	color: #000000;
}
#outer{
	height:100%;
	min-height:100%;
	width:758px;
	border-left:1px solid #000;
	border-right:1px solid #000;
	color: #000000;
	text-align:left;
	margin:auto;
	position:relative;
	background:  url(centredbg.jpg) repeat-y center center;
	position:relative;
}
 
html>body #outer{height:auto;} /*for mozilla as IE treats height as min-height anyway*/
#innerwrap {/* enables content first */
	float:left;
	width:626px;
}
#header{
	position:absolute;
	top:0;
	left:-1px;
	width:758px;
	height:70px;
	background:#FF0000;
	border:1px solid #000;
	overflow:hidden;
	color: #000000;
	z-index:100;
}
#left {
	position:relative;/*ie needs this to show float */
	width:120px;
	float:left;
	padding-top:72px;/*needed to make room for header*/
	padding-bottom:32px;/* needed to make room for footer */
}
#left p {padding-left:3px;padding-right:2px}
#right p {padding-left:4px;padding-right:2px}

#right {
	position:relative;/*ie needs this to show float */
	width:130px;
	float:right;
	padding-top:72px;/*needed to make room for header*/
	padding-bottom:32px;/* needed to make room for footer */
}

#footer {
	width:758px;
	clear:both;
	height:50px;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	background-color: #FF8080;
	color: #000000;
	text-align:center;
	left:0;
	bottom:0;
	position: absolute;

}
* html #footer {/*only ie gets this style*/
	\height:52px;/* for ie5 */
	he\ight:50px;/* for ie6 */
}
div,p  {margin-top:0}/*clear top margin for mozilla*/
#centrecontent {
	width:498px;
	float:right;
	padding-top:72px;
	padding-bottom:32px;/* needed to make room for footer */
}
#centrecontent p {padding-left:3px}

#clearfooter {width:100%;height:52px;clear:both} /* to clear footer */