.Info{
    margin-top: 100px;
    display:flex;
    flex-direction: column;

    &_body{
        display: flex;
        align-items: center;
        justify-content:space-around;
        &-user{
          width: 20%;
            background:black;
            &-name-box{
                display: flex;
                justify-content:center;
                gap:20px;
                margin:10px 20px;
                
                .img{
                    width: 100px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                div p{
                    word
                }
                img{
                    object-fit:cover;
                    width:100%;
                }
            }
        }
        &-des{
                width: 700px;
                background:black;
                height: 70px;
        }
    }
}