.Info {
  margin-top: 100px;
  margin-bottom: 160px;

  display: flex;
  flex-direction: column;
  padding: 0 30px;
  &_title {
    p {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 30px;
      margin-right:10px;
      color:black;
    
    }
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:rgb(126, 146, 255);
    svg{
        cursor: pointer;
    }
  }
  &_body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    &-user {
      flex: 0.4;
      display: flex;
      flex-direction: column;
      gap: 20px;
      &-name-box {
        border-radius: 7px;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px 20px;
        background: rgb(226, 219, 219);
        .img {
          width: 70px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        div p {
          margin: 0;
          word-break: break-word;
        }
        div .user {
          font-size: 20px;
          font-weight: 600;
        }
        img {
          object-fit: cover;
          width: 100%;
        }
      }
      &-trans-box {
        border-radius: 7px;
        overflow: hidden;

        background: rgb(226, 219, 219);
        .item {
          cursor: pointer;
          display: flex;
          gap: 20px;
          padding: 0 20px;
          align-items: center;
          &:hover {
            background: rgb(183, 208, 255);
            transition: all 0.3s;

            p {
              font-weight: 600;
            }
          }
        }
      }
    }
    &-des {
      border-radius: 7px;
      flex: 1;
      background: rgb(226, 219, 219);
      button {
        border: none;
        font-weight: 600;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
        background: rgb(183, 208, 255);
        cursor: pointer;
      }
      .flexx {
        p {
          font-size: 20px;
        }
        input {
          font-size: 30px;
          border: none;
          background: transparent;
          pointer-events: none;
          width: 30%;
        }
        display: flex;
        gap: 80px;
        padding: 0 30px;
      }
    }
  }
}
.overlayz {
  position: fixed;
  display: flex;
  z-index: 10000;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  .box {
    margin-top: 20px;
    border-radius: 7px;
    background: #fff;
    padding: 10px 20px;
  }
  .title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .box-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .box-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .image {
      width: 100px;
    }
    svg {
      font-size: 20px;
      position: relative;
      left: 70px;
      cursor: pointer;
    }

    img {
      object-fit: cover;
    }
  }
}
.none {
  display: none;
}
.edit{
    &_title{
        font-size: 30px;
        font-weight: 600;
    }
    &_body{
        display:flex;
        flex-direction: column;
        gap:10px;
        &-item{
        display:flex;
        justify-content:space-between;
        align-items: center;
        input{
            padding:10px;
            height: 30px;
        }
    }
    }
}
@media (max-width: 730px) {
  .Info_body-user {
    flex: 0.6;
  }
}
@media (max-width: 650px) {
  .Info_body-user {
    flex: 1;
  }
  .Info_body {
    flex-direction: column;
  }
  .Info_body-des .flex {
    p {
      font-size: 15px;
    }
  }
}
